html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* Add box-sizing to handle padding and border properly */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------- main content ------------------------------------------------------- */

main {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  margin-left: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Use flex-start to align content at the top */
}

.logo {
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.logo a {
  text-decoration: none;
  color: black; /* Set the logo color explicitly */
}

.signin-name {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.Sign-up {
  font-size: 0.9rem;
  font-weight: bolder;
  margin-top: 2rem; /* Add margin-top to create a gap between Sign Up and Sign In */
}

.Sign-up a {
  text-decoration: none;
  color: navy;
}

.Sign-up a:hover {
  text-decoration: underline;
}

.img {
  width: 100%;
}

.img img {
  max-width: 300px; /* Adjust the maximum width of the image */
  max-height: 300px; /* Adjust the maximum height of the image */
  object-fit: contain; /* Use contain to fit the entire image within the container */
}

@media (max-width: 1024px) {
  .img {
    display: none;
  }
  .main-content {
    margin-left: 2rem;
  }
}

.signup-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the box horizontally */
}

.sign-in-box a {
  text-decoration: none;
}

/* Add any additional styles or modifications as desired */
