<% layout('layout/boilerplate.ejs') %>
<style>
    .card {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .card img {
        max-width: 100%;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: #343A40;
    }

    .form-group label {
        font-size: 16px;
        font-weight: bold;
        color: #343A40;
    }

    .form-group input {
        font-size: 14px;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid #ced4da;
        background-color: #fff;
        color: #343A40;
    }

    .form-group input::placeholder {
        color: #A9A9A9;
    }

    .form-group button {
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: #0cb38c;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .forgot-password-container {
        display: flex;
        align-items: center;
    }

    .forgot-password-container .btn-link {
        color: #157fca;
        text-decoration: none;
        font-weight: bold;
    }

    .forgot-password-container .btn-link:hover {
        text-decoration: underline;
    }

    .forgot-password-container .border {
        padding: 4px;
        border: 1px solid #1e6ebe;
        border-radius: 4px;
    }
</style>

<div class="card mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <img src="/img/camping-place-cartoon.jpg" class="img-fluid" alt="...">
        </div>

        <div class="col-md-6 mt-3">
            <div class="container-fluid">
                <h2 class="card-title mb-3">Sign-in</h2>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username"><b>Username</b></label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
                        <div class="valid-feedback">
                            looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Password"><b>Password</b></label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                        <div class="valid-feedback">
                            looks good!
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <button class="btn btn-dark">Sign in</button>
                        <div class="forgot-password-container">
                            <div class="border">
                                <a href="/forgotP" class="btn btn-link text-decoration-none">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div
